<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tbcare_capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/n_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PartnerActivities.View_PatientNotes"></activity>
        <activity android:name=".AccountActivities.View_AuditLog" />
        <activity android:name=".PatientActivities.Account_Patient" />
        <activity android:name=".PatientActivities.Edit_PatientActivity" />
        <activity android:name=".PartnerActivities.Edit_PartnerActivity" />
        <activity android:name=".PatientActivities.My_Progress" />
        <activity android:name=".Intake_HistoryActivity" />
        <activity android:name=".Reading_HistoryActivity" />
        <activity android:name=".DetailedView_Patient" />
        <activity android:name=".Patient_Setintake" />
        <activity android:name=".Set_PatientMedicationActivity" />
        <activity android:name=".PartnerActivities.Patient_RequestActivity" />
        <activity android:name=".AccountActivities.ForgotPassword_ChangePassActivity" />
        <activity android:name=".AccountActivities.Answer_Security_QuestionsActivity" />
        <activity android:name=".AccountActivities.ChangePasswordActivity" />
        <activity android:name=".AccountActivities.RegisterPatientStart" />
        <activity android:name=".PartnerActivities.My_Patients" />
        <activity android:name=".PatientActivities.My_Partner_Info" />
        <activity android:name=".ChoosePartner" />
        <activity android:name=".AccountActivities.Choose_Account_Type" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientActivities.My_Schedule_Patient" />
        <activity android:name=".PatientActivities.Menu_Patient" />
        <activity android:name=".Note_Patient" />
        <activity android:name=".PartnerActivities.Menu_TBPartner" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".PartnerActivities.Account_TBPartner" />
        <activity android:name=".TreatmentDetails" />
        <activity android:name=".Partner_Info" />
        <activity android:name=".Myaccount_partner" />
        <activity android:name=".AccountActivities.RegisterPartner" />
        <activity android:name=".RegisterPatient" />
        <activity android:name=".Notes" />
        <activity
            android:name=".EditNote"
            android:label="@string/title_activity_edit_note"
            android:parentActivityName=".Notes"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tbcare_capstone.Notes" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>